VLAN=yes
TYPE=Vlan
PHYSDEV={{ item.value.parent_interface }}
VLAN_ID={{ item.value.vlan }}
MTU={{ item.value.mtu }}
REORDER_HDR=yes
NAME={{ item.key }}
DEVICE={{ item.key }}
ONBOOT=yes
IPADDR={{ item.value.ip }}
PREFIX={{ item.value.prefix }}
